/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE*/
svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 350px;
}

svg text{
	font-size: 200px;
	fill: rgba(0,0,0,1);
	stroke-width: 5px;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-dasharray: 80;
	animation: animate 1s linear infinite;
}
@keyframes animate{
	100%
	{
		stroke-dashoffset: 160;
	}
}

section#particles-js{
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%);
}

body {
    background-color: #000;
    font-family: 'Anton', sans-serif;
}

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
    display: inline-block;
    margin-right: 50px;
    font-family: 'Permanent Marker';
    font-weight: bolder;
    font-size: 100em;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.fly-in-text.hidden li:nth-child(8) { transform: translateX(50px) translateY(200px); }
.fly-in-text.hidden li:nth-child(9) { transform: translateX(70px) translateY(300px); }
.fly-in-text.hidden li:nth-child(10) { transform: translateX(80px) translateY(20px); }
.fly-in-text.hidden li:nth-child(11) { transform: translateX(55px) translateY(2px); }

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body{
	background-size: cover;
}

h1{
	position: absolute;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 48px;
	font-weight: lighter;
}

.toggle-button{
	position: fixed;
	margin: 1.4em;
	padding: 1em;
	width: 40px;
	height: 12px;
	right: 0;
	z-index: 1;
}

span.one{
	position: absolute;
	width: 52px;
	height: 10px;
	background: #fff;
}

span.two{
	position: absolute;
	width: 52px;
	height: 10px;
	background: #fff;
	margin-top: 15px;
}

span.three{
	position: absolute;
	width: 52px;
	height: 10px;
	background: #fff;
	margin-top: 30px;
}

.menu{
	z-index: 0;
	position: absolute;
	background: #101010;
	height: 100vh;
	width: 100%;
	top: -100%;
}

.data{
	padding: 8em 0 0 2em;
	text-align: left;
}

ul{
	list-style: none;
}

li:first-child{
	text-align: center;
	color: grey;
	font-family: 'Poppins';
	font-size: 44px;
}

li:not(:first-child){
	text-align: center;
	color: #fff;
	font-size: 62px;
}

a{
	text-decoration: none;
	color: #fff;
	font-family: 'Permanent Marker', cursive; 
}