body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    border-radius: 15px;
    width: 320px;
    height: 420px;
    /*background: rgba(565,0,0,.5);*/
    background: #fff;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.registerbox{
    border-radius: 15px;
    width: 700px;
    height: 520px;
    /*background: rgba(565,0,0,.5);*/
    background: #fff;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.icon{
    width: px;
    height: 150px;
    position: absolute;
    top: -150px;
    left: calc(6% - 50px);
}

.registerbox p{
    margin: -5;
    padding: 0;
    font-weight: bold;
}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid;
    background:  transparent;
    outline: none;
    height: 45px;
    font-size: 20px;
}

.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    color: beige;
    font-size: 20px;
    border-radius: 20px;
}

.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.registerbox input[type="submit"]:active
{
    transform: translateY(4px);
}

.registerbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: px;
    color: blueviolet;
}

.registerbox a:hover
{
    color: coral;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    position: absolute;
    top: -60px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000;
    background:  transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    color: beige;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.loginbox input[type="submit"]:active
{
    transform: translateY(4px);
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: blueviolet;
}

.loginbox a:hover
{
    color: coral;
}